<!doctype html>

<html>
    <head>
        <title>About</title>
        <link rel='icon' href='/css/icon.jpg'>
        <link rel="stylesheet" href='/css/main.css'>
        <script src='../js/main.js'></script>

    </head>
    <body>
        <div class=main-content>
        {{>header}}
        <h1>You are on Index HBS ABOUT Page after the update</h1>
        </div>
        {{>footer}}
        
        
    </body>
</html>